/GradeHelper/GradeHelper/.vs
/GradeHelper/GradeHelper/.vs/*
/GradeHelper/GradeHelper/GradeHelper/bin
/GradeHelper/GradeHelper/GradeHelper/bin/*
/GradeHelper/GradeHelper/GradeHelper/obj
/GradeHelper/GradeHelper/GradeHelper/obj/*
